{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<main class="flex justify-center items-center min-h-screen px-4 py-8 bg-gray-200">
    <div class="grid grid-cols-1 md:grid-cols-2 bg-gray-700 p-6 gap-6 rounded-3xl shadow-xl w-full max-w-5xl">

        <!-- Form Section -->
        <form method="post" class="flex flex-col justify-center w-full space-y-4">
            {% csrf_token %}
            <div class="text-center mb-4">
                <p class="text-white font-bold text-3xl md:text-4xl">Admin Login</p>
            </div>

            <!-- Form Fields -->
            {% for field in form %}
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-300">{{ field.label }}</label>
                {{ field }}


                {% if field.errors %}
                <p class="text-sm text-red-600">{{ field.errors|striptags }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <!-- Forgot password link -->
            <div class="text-right mt-1">
                <a href="{% url 'forgot_password_url' %}" class="text-sm text-blue-300 hover:underline">
                    Forgot password?
                </a>
            </div>


            <!-- Submit Button -->
            <div class="flex justify-center">
                <button type="submit"
                    class="text-white w-52 bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center transition">
                    Login
                </button>
            </div>
        </form>

        <!-- Image Section -->
        <div class="hidden md:flex justify-center w-full h-96 relative">
            <div class="relative w-full max-w-4xl h-full overflow-hidden rounded-3xl">
                <img src="{% static 'app_images/form_images/signup-banner.jpeg' %}" alt="Signup Banner"
                    class="absolute inset-0 w-full h-full object-cover object-[50%_30%]" />
            </div>
        </div>


    </div>
</main>

<script>
    {% if messages %}
    {% for message in messages %}
    Swal.fire({
        icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% else %}info{% endif %}',
        title: '{{ message.tags|title }}',
        text: '{{ message|escapejs }}',
        confirmButtonText: 'OK'
    });
    {% endfor %}
    {% endif %}
</script>
{% endblock %}