{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}WaveLift{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Static CSS -->
  <link href="{% static 'dir/style.css' %}" rel="stylesheet" />

  <!-- Spinner removal for number inputs -->
  <style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gray-200 text-gray-900 flex flex-col">

  <!-- Header -->

  {%if not request.user.is_superuser%}
  <header class="w-full">
    {% include 'shared/header.html' %}
  </header>

  {%else%}
  <header>

    {%include 'shared/admin_header.html' %}
  </header>
  {%endif%}



  <!-- Main Content -->
  <main class="mt-24 px-4">
    {% block content %}
    {% endblock %}
  </main>

{% if not request.user.is_superuser %}
  <!-- Footer -->
  <footer class="w-full">
    {% include 'shared/footer.html' %}
  </footer>
  {%else%}
  {%include 'shared/admin_footer.html'%}
{% endif %}
</body>


</html>